<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

   <aop:config proxy-target-class="true">
      <aop:aspect id="logging" ref="loggingAspect" >
          <aop:pointcut expression="execution(*  get*())" id="allGetters"/>
          <aop:around method="myAroundAdvice" pointcut-ref="allGetters"/>
          <aop:around method="loggingAdviceForCircle" pointcut="execution(* com.amsidh.dto.Circle.*(..))"/>
          <aop:around method="loggingAdviceForTriangle" pointcut="execution(* com.amsidh.dto.Triangle.*(..))"/>
      </aop:aspect>
   </aop:config>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
	<bean class="com.amsidh.dto.Circle" name="circle">
		<property name="name" value="Circle" />
	</bean>
	<bean name="triangle" class="com.amsidh.dto.Triangle">
		<property name="name" value="Triangle" />
	</bean>

	<bean name="shapeService" class="com.amsidh.service.ShapeService">
		<property name="circle" ref="circle" />
		<property name="triangle" ref="triangle" />
	</bean>

	<bean name="loggingAspect" class="com.amsidh.aspect.LoggingAspect" />

</beans>
